{% if product.metafields.custom.dT_bundle_handles != blank %}
{%- assign handle_metafields =  product.metafields.custom.dT_bundle_handles | split: ',' -%}
{%- assign handle_size =  handle_metafields | size -%}
{%- assign bundle_discount =  product.metafields.custom.dT_bundle_discount -%}
<div class="container bundle_discount={{ bundle_discount }}  handle_metafields- {{ handle_metafields }}" id="dT_bundleSelector">
  <div class="row">
  <div class="dT_bundleSelector">

    {% form 'product', product, id: "bundleAddToCartFrmId", class: "bundleAddToCartFrmCls" %}
    <div class="dt-sc-product_bundle">

      <div class="section-title"> <h3>{{ 'upsell.general.heading' | t}}</h3> </div>

      <div class="frequently-buy-togeather-products">
        <div class="products-grouped-info">

          <div class="dt-sc-thumb-image">
            <div>
              <div class="" data-bundle-product-id="{{ product.id }}" data-bundle-product-handle="{{ product.handle }}">
                <a href="{{ product.url | within: collection }}" class="item-image">                
                   <img  src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.src.alt | escape }}">                    
                </a>
              </div>

              <div class="main-product" id="dT_bundle-product-{{ product.id }}" data-bundle-product-id="{{ product.id }}" data-bundle-product-handle="{{ product.handle  }}">
                {% render 'dT_bundle-product-list', product:product %}
              </div>
            </div>

            {% for handle in handle_metafields limit:10 %}
            {% assign a = handle | strip %}
            {%- assign pro = all_products[a] -%}
            <div>
              <div class="" data-bundle-product-id="{{ pro.id  }}" data-bundle-product-handle="{{ pro.id  }}">
                <a href="{{ pro.url | within: collection }}" class="item-image">                 
                  <img  src="{{ pro.featured_image.src | product_img_url: 'large' }}" alt="{{ pro.featured_image.src.alt | escape }}">                              
                </a>
              </div>

              <div class="group-product" id="dT_bundle-product-{{ pro.id }}" data-bundle-product-id="{{ pro.id }}" data-bundle-product-handle="{{ pro.handle  }}">
                {% render 'dT_bundle-product-list', product:pro %}
              </div> 
            </div>  
            {% endfor %}
          </div>
          
          <div class="bundle-product-additional-offer">
          
            <div class="bundle-product-cart-total">
              <span>{{ 'upsell.general.total' | t}}</span>
              <span class="dT_totalBundleSalePrice">$4,095.00 USD</span> 
              <span class="dT_totalBundleOriginalPrice">$4,550.00 USD</span>
            </div>

            <div class="bundle-product-add-to-cart">
              <button type="submit" class="button btn-product-add-to-cart">{{ 'upsell.general.add_all_to_cart' | t}}</button>
            </div>
            <div class="bundle-product-offer-note">
              {{ 'upsell.general.get_discount_label1' | t}} {{ bundle_discount }}% {{ 'upsell.general.get_discount_label2' | t}}
            </div>
          
          </div>
          
        </div>
      </div>
    </div>
    {% endform %}
  </div>
  </div>
</div>


<style>
/* 
  .dt-sc-product_bundle{ background: var(--DTTertiaryColor); padding: 5rem; display: inline-block; width: 100%; border-radius: var(--DTRadius); margin: 4rem 0 0; }
  .dt-sc-product_bundle .section-title h3{ margin: 0 0 55px; text-align: center; }
  .dt-sc-product_bundle .dt-sc-thumb-image{ display: flex; justify-content: space-between; }
  .dt-sc-product_bundle .dt-sc-thumb-image > div{ text-align: center; margin-bottom: 20px; position: relative; width: calc(35% - 5rem);}
  .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child){ margin-right:30px}
  .dt-sc-product_bundle .dt-sc-thumb-image .item-image img{ width:100%;}
  .dt-sc-product_bundle .dt-sc-thumb-image a.item-image{margin-bottom: 10px; display: block; overflow: hidden; border-radius: var(--DTRadius);}
  .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child{position: relative;}
  
  .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child:after{ content: "+"; color: var(--DTPrimaryColor); background: var(--DTBodyBGColor);
    position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); right: -55px; font-size: 20px; font-family: var(--DTFontTypo_Heading); 
      width: 25px; height: 25px; border-radius: 50%; line-height: 25px; }
  
  .dt-sc-product_bundle .dt-sc-thumb-image li:not(:last-child){ margin-bottom:15px;}
  .dt-sc-product_bundle .dt-sc-thumb-image li > div[id*="sale-price"],
  .dt-sc-product_bundle .dt-sc-thumb-image li > div[class*="price-sale"] { font-size: var(--DTFontSize_H6); }

  .dt-sc-product_bundle .dt-sc-thumb-image  [type=checkbox]{ margin: auto; }  
  .dt-sc-product_bundle .dt-sc-product-details{ display: flex; align-items: center; margin-bottom: 0; flex-flow: column wrap;line-height: normal;}
  .dt-sc-product_bundle .dt-sc-product-details span{font-weight: 600; padding: 0 3px; color: var(--DTPrimaryColor); }

  .dt-sc-product_bundle .bundle-product-cart-total{ font-weight: 600;  font-size: var(--DTFontSize_H6); }
  .dt-sc-product_bundle .dt-sc-select-btn{ width: 100%; padding: 10px 15px; border-radius: var(--DTRadius);  background-color: var(--DTBodyBGColor); border: 1px solid var(--DTColor_Border);}
  .dt-sc-product_bundle .varient-options{ z-index: 1; display: none; margin-bottom: 15px; padding: 15px !important; width:100% !important; box-shadow: var(--DTboxShadow); border-radius: var(--DTRadius); background-color: var(--DTBodyBGColor); position: absolute; }
  .dt-sc-product_bundle .product-form__controls-group{ display:flex; flex-flow: column; }
  .dt-sc-product_bundle .product-form__controls-group ~ *{ display:none;}
  .dt-sc-product_bundle .product-form__controls-group .selector-wrapper{ display: inline-flex; text-align: left; margin-bottom:15px;}
  .dt-sc-product_bundle .product-form__controls-group .selector-wrapper:last-child{  margin-bottom:0px; }
  .dt-sc-product_bundle .selector-wrapper label { display: inline-flex; font-weight: bold; width: 50%;}
  .dt-sc-product_bundle .selector-wrapper .select2.select2-container { width: 50% !important; }
  .dt-sc-product_bundle .selector-wrapper select{ padding: 5px; width: 100%; background-color: var(--DTColor_Border); border-radius: var(--DTRadius);}
  .dt-sc-product_bundle .dt-sc-btn.btn-product-add-to-cart, .bundle-product-add-to-cart, .bundle-product-offer-note{ display: inline-block; margin: 0px;}
  
  .products-grouped-info { text-align: center; }
  .bundle-product-additional-offer { background: var(--DTBodyBGColor); margin: auto; display: inline-flex; flex-direction: column; padding: 1.5rem 4rem; align-items: center; 
    justify-content: center; 
  }
  
  .bundle-product-additional-offer > *:not(:last-child) { margin-bottom: .75rem;}

  .bundle-product-cart-total{ display: flex; }
  .bundle-product-cart-total > * + * { margin-left: 10px;}
  .bundle-product-add-to-cart > button { margin-top: 0; }
  .dt-sc-product_bundle .bundle-product-offer-note{ width: 100%; font-size: 16px; color: var(--DTPrimaryColor); }
  span.dT_totalBundleOriginalPrice{ text-decoration: line-through; opacity: .5; color: inherit; font-weight: 400;}
  .group-product .old-price, .main-product .old-price { font-size: 80%; opacity: .5; text-decoration: line-through;}
  .group-product .old-price, .group-product .special-price{margin: 0 5px;}

  .dt-sc-product_bundle .dt-sc-thumb-image ul { position: relative; line-height: normal; }
  .dt-sc-product_bundle .dt-sc-thumb-image ul li .dt-sc-btn { margin: auto; display: inline-block; }
  
  .checkbox_style { display: inline-block; position: relative; cursor: pointer; font-size: 0; height: 0; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
  .checkbox_style input[type="checkbox"] { float: left; width: 36px; height: 6px; cursor: pointer; background-color: #fff; -webkit-appearance: none;
border-radius: 8px; position: relative; }
  .checkbox_style input[type="checkbox"]:before { content: ""; width: 17px; height: 17px; box-shadow: var(--DTboxShadow_light); background-color: var(--DTBodyBGColor); border-radius: 50%;
position: absolute; top: -6px; z-index: 1; left: -2px; transition: var(--DTBaseTransition); }
   .checkbox_style input[type="checkbox"]:after { content: ""; height: 100%; width: 14px; position: absolute; left: 0; border-radius: 17px;
background-color: {{ settings.primary_color | color_modify: 'alpha', 0.5 }};; transition: var(--DTBaseTransition); }
  .checkbox_style input[type="checkbox"]:checked:before { left: calc(100% - 16px); background-color:var(--gradient-base-accent-2); }
  .checkbox_style input[type="checkbox"]:checked:after { width: 100%; border-radius: 8px; }  
  
  @media (max-width: 1199px)  {
    .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child:after{ right: -60px; }
  }
  
  @media only screen and (max-width: 991px) and (min-width: 767px)  {    
    .dt-sc-product_bundle { padding: 3rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div { width: calc(35% - 2rem); }
    .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child:after{ right: -26px; width: 20px; height: 20px; line-height: 20px; font-size: 16px; }
    .dt-sc-product_bundle .dt-sc-thumb-image ul li .dt-sc-btn,
    .bundle-product-add-to-cart > button { padding: 10px 20px; font-size: 16px; }
    
  }

  @media (max-width:767px) {    
    .dt-sc-product_bundle { padding: 3rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image { flex-wrap: wrap; }
    .dt-sc-product_bundle .dt-sc-thumb-image ul { margin: 0; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div { display: grid; grid-template-columns: 200px 1fr; width: 100%; align-items: center; text-align: left; gap: 30px; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) { margin: 0 0 2rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child::after { display: none; }
    .dt-sc-product_bundle .dt-sc-thumb-image a.item-image { margin-bottom: 0; }
    .dt-sc-product_bundle .dt-sc-thumb-image ul li .dt-sc-btn,
    .bundle-product-add-to-cart > button { padding: 10px 20px; font-size: 16px; }
    .bundle-product-additional-offer { margin-top: 2rem; padding: 1.5rem 3rem; }
    
  }

  @media (max-width:576px) {
    .dt-sc-product_bundle { padding: 1.5rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div { display: grid; grid-template-columns: 115px 1fr; gap: 15px; }
    .dt-sc-product_bundle .section-title h3 { font-size: calc(.65 * var(--DTFontSize_H3)); margin: 0 0 15px; }
	.bundle-product-additional-offer { padding: 1.5rem 1.5rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image li:not(:last-child) { margin-bottom: 10px;  font-size: 1.6rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image ul li .dt-sc-btn,
    .bundle-product-add-to-cart > button { padding: 8px 16px; font-size: 14px; }  

  } */

  
  
  .dt-sc-product_bundle{ background:rgba(var(--color-foreground),.05); padding: 5rem; display: inline-block; width: 100%; border-radius: var(--DTRadius); margin: 4rem 0 0; }
  .dt-sc-product_bundle .section-title h3{ margin: 0 0 55px; text-align: center;     font-size: 2.4rem; }
  .dt-sc-product_bundle .dt-sc-thumb-image{ display: grid; grid-template-columns: repeat(4,1fr);grid-gap:30px; }
  .dt-sc-product_bundle .dt-sc-thumb-image > div{ text-align: center; margin-bottom: 20px; position: relative; /*width: calc(35% - 5rem);*/}
/*   .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child){ margin-right:30px} */
  .dt-sc-product_bundle .frequently-buy-togeather-products .dT_bundleProductToggle{width:100%;padding:0;}
  .dt-sc-product_bundle .dt-sc-thumb-image .item-image img{ width:100%;}
  .dt-sc-product_bundle .dt-sc-thumb-image a.item-image{margin-bottom: 10px; display: block; overflow: hidden; border-radius: var(--DTRadius);}
  .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child{position: relative;}
  
  .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child:after{ content: "+"; color:var(--gradient-base-accent-2); font-weight: 500; 
    position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); right: -31px; font-size: 25px; 
      width: 30px; height: 30px; border-radius: 50%; line-height: 25px; }
  
  .dt-sc-product_bundle .dt-sc-thumb-image li:not(:last-child){ margin-bottom:15px;}
  .dt-sc-product_bundle .dt-sc-thumb-image li > div[id*="sale-price"],
  .dt-sc-product_bundle .dt-sc-thumb-image li > div[class*="price-sale"] { font-size: var(--DTFontSize_H6); }

  .dt-sc-product_bundle .dt-sc-thumb-image  [type=checkbox]{ margin: auto; }  
  .dt-sc-product_bundle .dt-sc-product-details{ display: flex; align-items: center; margin-bottom: 0; flex-flow: column wrap;line-height: normal;}
  .dt-sc-product_bundle .dt-sc-product-details span{font-weight: 600; padding: 0 3px; color: var(--DTPrimaryColor); }

  .dt-sc-product_bundle .bundle-product-cart-total{ font-weight: 600;  font-size: var(--DTFontSize_H6); }
  .dt-sc-product_bundle .dt-sc-select-btn{ width: 100%; padding: 10px 15px; border-radius: var(--DTRadius);  background-color: var(--gradient-base-accent-2); border: 1px solid var(--DTColor_Border);}
  .dt-sc-product_bundle .varient-options{ z-index: 2; left:0; display: none; margin-bottom: 15px; padding: 15px !important; width:100% !important; box-shadow: var(--DTboxShadow); border-radius: var(--DTRadius); background-color: var(--gradient-base-background-1); position: absolute; }
  .dt-sc-product_bundle .product-form__controls-group{ display:flex; flex-flow: column; }
  .dt-sc-product_bundle .product-form__controls-group ~ *{ display:none;}
  .dt-sc-product_bundle .product-form__controls-group .selector-wrapper{ display: inline-flex; text-align: left; margin-bottom:15px;}
  .dt-sc-product_bundle .product-form__controls-group .selector-wrapper:last-child{  margin-bottom:0px; }
  .dt-sc-product_bundle .selector-wrapper label { display: inline-flex; font-weight: bold; width: 50%;}
  .dt-sc-product_bundle .selector-wrapper .select2.select2-container { width: 50% !important; }
  .dt-sc-product_bundle .selector-wrapper select{ padding: 5px; width: 100%; background-color:var(--gradient-base-accent-1); border-radius: var(--buttons-radius);  color: var(--gradient-base-accent-2);}
  .dt-sc-product_bundle .dt-sc-btn.btn-product-add-to-cart, .bundle-product-add-to-cart, .bundle-product-offer-note{ display: inline-block; margin: 0px;}
  .dt-sc-product_bundle .selector-wrapper select:focus-visible {
    box-shadow: none;
    outline: none;
}
  .products-grouped-info { text-align: center; }
  .bundle-product-additional-offer { background:var(--gradient-background); margin: auto; display: inline-flex; flex-direction: column; padding: 1.5rem 4rem; align-items: center; 
    justify-content: center; 
  }
  
  .bundle-product-additional-offer > *:not(:last-child) { margin-bottom: 2rem;}

  .bundle-product-cart-total{ display: flex; }
  .bundle-product-cart-total > * + * { margin-left: 10px;}
  .bundle-product-add-to-cart > button { margin-top: 0; }
  .dt-sc-product_bundle .bundle-product-offer-note{ width: 100%; font-size: 16px; color: var(--gradient-base-accent-1); }
  span.dT_totalBundleOriginalPrice{ text-decoration: line-through; opacity: .5; color: inherit; font-weight: 400;}
  .group-product .old-price, .main-product .old-price{ font-size: 80%; opacity: .5; text-decoration: line-through;}
  .group-product .old-price, .group-product .special-price{margin: 0 5px;}

  .dt-sc-product_bundle .dt-sc-thumb-image ul { position: relative; line-height: normal; list-style: none; padding: 0;}
  .dt-sc-product_bundle .dt-sc-thumb-image ul li .dt-sc-btn { margin: auto; display: inline-block; }
  
  .checkbox_style { display: inline-block; position: relative; cursor: pointer; font-size: 0; height: 0; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
  .checkbox_style input[type="checkbox"] { float: left; width: 36px; height: 6px; cursor: pointer; background-color: #fff; -webkit-appearance: none;
border-radius: 8px; position: relative; }
  .checkbox_style input[type="checkbox"]:before { content: ""; width: 17px; height: 17px; box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)),
    0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background)); background-color: var(--gradient-background); border-radius: 50%;
position: absolute; top: -6px; z-index: 1; left: -2px; transition: var(--DTBaseTransition); }
   .checkbox_style input[type="checkbox"]:after { content: ""; height: 100%; width: 14px; position: absolute; left: 0; border-radius: 17px;
background-color: rgba(186, 141, 105, 0.5);; transition: var(--DTBaseTransition); }
  .checkbox_style input[type="checkbox"]:checked:before { left: calc(100% - 16px); background-color: var(--gradient-base-accent-2); }
  .checkbox_style input[type="checkbox"]:checked:after { width: 100%; border-radius: 8px; }  
  
  @media (max-width: 1199px) and (min-width: 992px)  {
    .dt-sc-product_bundle .dt-sc-thumb-image { display: grid;  grid-template-columns: repeat(3,1fr);}
  }
  
  @media only screen and (max-width: 991px) and (min-width: 767px)  {    
    .dt-sc-product_bundle { padding: 3rem; }
<!--     .dt-sc-product_bundle .dt-sc-thumb-image > div { width: calc(35% - 2rem); } -->
    .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child:after{ right: -26px; width: 20px; height: 20px; line-height: 20px; font-size: 16px; }
    .dt-sc-product_bundle .dt-sc-thumb-image ul li .dt-sc-btn,
    .bundle-product-add-to-cart > button { padding: 10px 20px; font-size: 16px; }
    .dt-sc-product_bundle .dt-sc-thumb-image { display: grid;  grid-template-columns: repeat(3,1fr);}
  }

  @media (max-width:767px) {    
    .dt-sc-product_bundle { padding: 3rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image { flex-wrap: wrap; }
    .dt-sc-product_bundle .dt-sc-thumb-image ul { margin: 0; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div { display: grid; grid-template-columns: 200px 1fr; width: 100%; align-items: center; text-align: left; gap: 30px; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) { margin: 0 0 2rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div:not(:last-child) > div:first-child::after { display: none; }
    .dt-sc-product_bundle .dt-sc-thumb-image a.item-image { margin-bottom: 0; }
    .dt-sc-product_bundle .dt-sc-thumb-image ul li .dt-sc-btn,
    .bundle-product-add-to-cart > button { padding: 10px 20px; font-size: 16px; }
    .bundle-product-additional-offer { margin-top: 2rem; padding: 1.5rem 3rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image { display: grid;  grid-template-columns: repeat(1,1fr);}
    
  }

  @media (max-width:576px) {
    .dt-sc-product_bundle { padding: 1.5rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image > div { display: grid; grid-template-columns: 115px 1fr; gap: 15px; }
    .dt-sc-product_bundle .section-title h3 { font-size: 2.0rem; margin: 0 0 15px; }
	.bundle-product-additional-offer { padding: 1.5rem 1.5rem; }
    .dt-sc-product_bundle .dt-sc-thumb-image li:not(:last-child) { margin-bottom: 10px; }
    .dt-sc-product_bundle .dt-sc-thumb-image ul li .dt-sc-btn,
    .bundle-product-add-to-cart > button { padding: 8px 16px; font-size: 14px; }  
    .dt-sc-product_bundle .dt-sc-thumb-image { display: grid;  grid-template-columns: repeat(1,1fr);}
  }
  @media (max-width:430px) {
  .dt-sc-product_bundle .dt-sc-thumb-image ul{    text-align: center;}
  .dt-sc-product_bundle .dt-sc-thumb-image > div{grid-template-columns: repeat(1,1fr);}
  }
</style>

<script type="text/javascript">

  const DT_DISCOUNT = '{{ bundle_discount }}';
  const BUNDLE_MAIN_PRODUCT_ID = "{{ product.id }}";
  var bundleProductIds = ["{{ product.id }}"];
                          {% for handle in handle_metafields limit:10 %}
                          {% assign a = handle | strip %}
                          {%- assign pro = all_products[a] -%}
                          bundleProductIds.push( "{{ pro.id }}" );
                          {% endfor %}
</script>

{% endif %}