{{ 'section-testimonial-with-video.css' | asset_url | stylesheet_tag }}
<script src="{{ 'video-pop-up.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'component-swiper.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-swiper.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    margin-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      margin-top: {{ section.settings.padding_top }}px;
      margin-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
/*  {%- for block in section.blocks -%}  
 .testimonial-image.mask-{{ forloop.index }}-image .img { 
  mask-image: url({{ block.settings.mask_image | image_url: width: 275  }});
  mask-size: contain; 
  mask-repeat: no-repeat;
  -webkit-mask-image: url({{ block.settings.mask_image | image_url: width: 275  }});
  -webkit-mask-size: contain; 
  -webkit-mask-repeat: no-repeat;
	 transition: all 0.3s linear ;
}
    {%- endfor -%} */
  {% if section.settings.quote_icon != blank %}
  .testimonials-with-video .testimonial-container .testimonial-content blockquote:before {
      content:'';
      mask-image: url({{ section.settings.quote_icon | img_url: width: 50 }});
      -webkit-mask-image: url({{ section.settings.quote_icon | img_url: width: 50 }});
      mask-size: auto; mask-repeat: no-repeat; mask-position: center;
      -webkit-mask-size: auto; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center;
      position:relative;
      width:50px;
      height:50px;
      background-color:currentcolor;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  {% endif %}
  {%- if section.settings.cover_image != blank -%}
     .testimonial-video-wrapper  .video-section{
        background-image: url('{{ section.settings.cover_image |  image_url: width: 1100   }}');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        object-fit: cover;
        object-position: center;
        background-attachment: unset;
        }
  {%- endif -%}

    .section-{{ section.id }}.testimonials-with-video{background:{{ section.settings.bg_color }};}
  
{%- endstyle -%}

{%- liquid
if section.settings.enable_overlay
assign section_overlay = 'dt-sc-overlay'
endif

case section.settings.background_style
when 'scroll'
assign background_style = ' '
when 'fixed'
assign background_style = 'fixed_background'
endcase
assign margin = section.settings.margin | split: ','
assign margin_top = margin[0]
assign margin_bottom = margin[1]
assign padding = section.settings.padding | split: ','
assign padding_top = padding[0]
assign padding_bottom = padding[1]
 %}

<div class="section-{{ section.id }} testimonials-with-video {{ section.settings.custom_class_name }} color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
   <div class="{% if section.settings.page_full_width %} page-full-width {% else %} page-width {% endif %} {% if section.settings.page_full_width_spacing %} page-full-width_spacing {% endif %}section-{{ section.id }}-padding isolate">
      <div class="row">
         {%- unless section.settings.title == blank -%}
         <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin content-align--{{ section.settings.column_alignment }}">
            {%- if section.settings.sub_heading != blank -%}  
            <h6 class="sub-heading">{{ section.settings.sub_heading | escape }}</h6>
            {%- endif -%} 
            {%- if section.settings.title != blank -%}  
            <h2 class="title {{ section.settings.heading_size }}">
               {{ section.settings.title | escape }}
            </h2>
            {%- endif -%} 
            {%- if section.settings.description != blank -%}  
            <p class="description">{{ section.settings.description }}</p>
            {%- endif -%}   
            {%- if section.settings.button_label != blank -%}
            <a {% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %} class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ section.settings.button_label | escape }}</a>
            {%- endif -%}
            {%- if section.settings.enable_icon_text -%}
              <div class="testimonial-support-block">
              <div class="icon_text-wrapper">
                <div class="icon-image">
                  {%- if section.settings.icon_image != blank -%}        
                 <img
                      class="icon__image1"
                      srcset="{%- if section.settings.icon_image.width >= 375 -%}{{ section.settings.icon_image | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if section.settings.icon_image.width >= 550 -%}{{ section.settings.icon_image | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if section.settings.icon_image.width >= 750 -%}{{ section.settings.icon_image | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if section.settings.icon_image.width >= 1100 -%}{{ section.settings.icon_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if section.settings.icon_image.width >= 1500 -%}{{ section.settings.icon_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if section.settings.icon_image.width >= 1780 -%}{{ section.settings.icon_image | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if section.settings.icon_image.width >= 2000 -%}{{ section.settings.icon_image | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if section.settings.icon_image.width >= 3000 -%}{{ section.settings.icon_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if section.settings.icon_image.width >= 3840 -%}{{ section.settings.icon_image | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ section.settings.icon_image | image_url: width: 1500 }} {{ section.settings.icon_image.width }}w"
                      sizes="100vw"
                      src="{{ section.settings.icon_image | image_url: width: 1500 }}"
                      loading="lazy"              
                      alt="{{ section.settings.icon_image.alt | escape }}"
                      width="{{ section.settings.icon_image.width }}"
                      height="{{section.settings.icon_image.width | divided_by: section.settings.icon_image.aspect_ratio | round }}"
                    >
                 {%- else -%}
                    {{ 'logo' | placeholder_svg_tag: 'placeholder_svg' }}
                  {%- endif -%}
                </div>
                <div class="icon-text">
              {%- if section.settings.icon_link != blank -%}  
                  <a href="{{ section.settings.icon_link }}" class="link">{{ section.settings.icon_text }}</a>
                {%- endif -%}
                </div>
              </div>
                <div class="icon_text-wrapper">
                <div class="icon-image">
                  {%- if section.settings.icon_image_2 != blank -%}        
                 <img
                      class="icon__image2"
                      srcset="{%- if section.settings.icon_image_2.width >= 375 -%}{{ section.settings.icon_image_2 | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if section.settings.icon_image_2.width >= 550 -%}{{ section.settings.icon_image_2 | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if section.settings.icon_image_2.width >= 750 -%}{{ section.settings.icon_image_2 | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if section.settings.icon_image_2.width >= 1100 -%}{{ section.settings.icon_image_2 | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if section.settings.icon_image_2.width >= 1500 -%}{{ section.settings.icon_image_2 | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if section.settings.icon_image_2.width >= 1780 -%}{{ section.settings.icon_image_2 | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if section.settings.icon_image_2.width >= 2000 -%}{{ section.settings.icon_image_2 | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if section.settings.icon_image_2.width >= 3000 -%}{{ section.settings.icon_image_2 | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if section.settings.icon_image_2.width >= 3840 -%}{{ section.settings.icon_image_2 | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ section.settings.icon_image_2 | image_url: width: 1500 }} {{ section.settings.icon_image_2.width }}w"
                      sizes="100vw"
                      src="{{ section.settings.icon_image_2 | image_url: width: 1500 }}"
                      loading="lazy"              
                      alt="{{ section.settings.icon_image_2.alt | escape }}"
                      width="{{ section.settings.icon_image_2.width }}"
                      height="{{section.settings.icon_image_2.width | divided_by: section.settings.icon_image_2.aspect_ratio | round }}"
                    >
                 {%- else -%}
                    {{ 'logo' | placeholder_svg_tag: 'placeholder_svg' }}
                  {%- endif -%}
                </div>
                <div class="icon-text">
                 {%- if section.settings.icon_link_2 != blank -%}  
                  <a href="{{ section.settings.icon_link_2 }}" class="link">{{ section.settings.icon_text_2 }}</a>
                  {%- endif -%}
                </div>
              </div>
                <div class="icon_text-wrapper">
                <div class="icon-image">
                  {%- if section.settings.icon_image_3 != blank -%}        
                 <img
                      class="icon__image3"
                      srcset="{%- if section.settings.icon_image_3.width >= 375 -%}{{ section.settings.icon_image_3 | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if section.settings.icon_image_3.width >= 550 -%}{{ section.settings.icon_image_3 | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if section.settings.icon_image_3.width >= 750 -%}{{ section.settings.icon_image_3 | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if section.settings.icon_image_3.width >= 1100 -%}{{ section.settings.icon_image_3 | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if section.settings.icon_image_3.width >= 1500 -%}{{ section.settings.icon_image_3 | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if section.settings.icon_image_3.width >= 1780 -%}{{ section.settings.icon_image_3 | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if section.settings.icon_image_3.width >= 2000 -%}{{ section.settings.icon_image_3 | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if section.settings.icon_image_3.width >= 3000 -%}{{ section.settings.icon_image_3 | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if section.settings.icon_image_3.width >= 3840 -%}{{ section.settings.icon_image_3 | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ section.settings.icon_image_3 | image_url: width: 1500 }} {{ section.settings.icon_image_3.width }}w"
                      sizes="100vw"
                      src="{{ section.settings.icon_image_3 | image_url: width: 1500 }}"
                      loading="lazy"              
                      alt="{{ section.settings.icon_image_3.alt | escape }}"
                      width="{{ section.settings.icon_image_3.width }}"
                      height="{{section.settings.icon_image_3.width | divided_by: section.settings.icon_image_3.aspect_ratio | round }}"
                    >
                 {%- else -%}
                    {{ 'logo' | placeholder_svg_tag: 'placeholder_svg' }}
                  {%- endif -%}
                </div>
                <div class="icon-text">
                  {%- if section.settings.icon_link_3 != blank -%}    
                  <a href="{{ section.settings.icon_link_3 }}" class="link">{{ section.settings.icon_text_3 }}</a>
                 {%- endif -%}   
                </div>
              </div>
              </div>
            {%- endif -%}  
         </div>
         {%- endunless -%}
         <div class="testimonial-video-wrapper">
            <div class="left-block">
               <div class="video-section">
                  <div class="video-play-icon">
                     <a class="video_icon watch-more" id="video_icon" href="">           
                     {%- render 'icon-play' -%}           
                     </a>
                  </div>
                  <div id="video_modal" class="video_modal">
                     <div class="video_modal_content">               
                        <iframe id="video_player" class="video_player" src="https://www.youtube.com/embed/{{section.settings.video_url.id}}?autoplay=1?muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                  </div>
               </div>
            </div>
            <div class="right-block">
               {%- if section.blocks.size > 0 -%}
               <swiper-slider>
                  <div data-slider-options='{"loop": "{%- if section.settings.centered_slide -%}1{%- else -%}2{%- endif -%}","desktop": "{{ section.settings.desktop_column }}", "tablet": "{{ section.settings.tablet_column }}","mobile": "{{ section.settings.mobile_column }}","auto_play": "{{ section.settings.auto_play }}"}'>
                     <div class="swiper testimonialsSwiper" id="quote-{{section.id}}-slider" data-swiper-slider>
                        <div class="swiper-wrapper">
                           {%- for block in section.blocks -%}
                           <div class="testimonial-container swiper-slide">
                              {% if block.settings.image != blank %}    
                              <div class="testimonial-image  content-{{ section.settings.testimonial_text_alignment }}"> 
                                 <img loading="lazy" width="" height=""
                                    src="{{ block.settings.image | image_url: width: 550 }}"
                                    alt="{{ block.settings.title }}"
                                    class="img {%- if section.settings.rounded_image -%}rounded_image{%- endif -%}">   
                              </div>
                              {% else %}
                              <div class="testimonial-image">
                                 {{ 'image' | placeholder_svg_tag: 'placeholder_svg img' }}
                              </div>
                              {% endif %}
                              <div class="testimonial-content">
                                 <blockquote class="content-{{ section.settings.testimonial_text_alignment }}">
                                    {%- if block.settings.quote != blank -%}{{ block.settings.quote }}{%- endif -%}
                                    {%- if block.settings.author != blank -%}
                                    <cite>
                                       <p class="testimonial-author">{{ block.settings.author }}</p>
                                       <span>{{ block.settings.job_title }}</span>
                                    </cite>
                                    {%- endif -%}
                                 </blockquote>
                              </div>
                           </div>
                           {%- endfor -%}
                        </div>
                        {% if section.settings.swiper_navigation != blank %}
                        <div class="swiper-button-next"><span></span></div>
                        <div class="swiper-button-prev"><span></span></div>
                        {% endif %}
                     </div>
                     {% if section.settings.swiper_pagination != blank %}
                     <div class="swiper-pagination"></div>
                     {% endif %}
                  </div>
               </swiper-slider>
               {%- endif -%}
            </div>
         </div>
      </div>
   </div>
</div>

<script>
  jQuery(document).ready(function($) {
    $('.testimonial-with-video').each(function () {    
      var videoLink = $(this).find(".video_modal iframe").attr("src");
      var videoIcon = $(this).find('.video_icon');            
      var modal = $('.video_overlay');    

      $video_modal = $('.video_overlay');


      videoIcon.on('click',function(e) {
        $video_modal.css('opacity', '1');
        $video_modal.css('visibility', 'visible');
        $video_modal.addClass('open');
        var dataModal = $('.video_player').attr("src", videoLink+"?&amp;autoplay=1");      
        $video_modal.append(dataModal);
        disableScroll();        
        e.preventDefault();
      });

      $('.close_icon, .video_overlay').on('click',function(e) {
        $(".video_modal iframe").attr("src", null);
        $video_modal.removeClass('open');
        $video_modal.css('opacity', '0');
        $video_modal.css('visibility', 'hidden');
        enableScroll();
        e.preventDefault();
      });

      window.onclick = function(event) {
        if (event.target == modal) {
          $(".video_modal iframe").attr("src", null);
          $video_modal.removeClass('open');
          $video_modal.css('opacity', '0');
          $video_modal.css('visibility', 'hidden');
          enableScroll();
        }
      }
    });
  });
  function disableScroll() { 
    // Get the current page scroll position 
    scrollTop = window.pageYOffset || document.documentElement.scrollTop; 
    scrollLeft = window.pageXOffset || document.documentElement.scrollLeft, 

      // if any scroll is attempted, set this to the previous value 
      window.onscroll = function() { 
      window.scrollTo(scrollLeft, scrollTop); 
    }; 
  } 

  function enableScroll() { 
    window.onscroll = function() {}; 
  }

</script>

{% schema %}
{
  "name": "t:sections.testimonials-with-video.name",
  "class": "section testimonial-with-video",
  "tag": "section",
  "settings": [
    {
      "type":"checkbox",
      "id":"page_full_width",
       "default": false,
      "label": "t:sections.all.page_full_width.label"
    },
    {
      "type":"checkbox",
      "id":"page_full_width_spacing",
       "default": false,
      "label": "t:sections.all.page_full_width_spacing.label"
    },
    {
      "type":"color",
      "id":"bg_color",
      "label":"t:sections.testimonials-with-video.settings.bg_color.label"
    },
     {
      "type": "text",
      "id": "title",
      "default": "Testimonial",
      "label": "t:sections.all.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:sections.all.sub_heading.label"
    },
     {
      "type": "text",
      "id": "description",
      "label": "t:sections.all.description.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.all.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "t:sections.all.button_style_secondary.label"
      },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.testimonials-with-video.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.testimonials-with-video.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.testimonials-with-video.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.testimonials-with-video.settings.testimonial_settings.content"
    },
    {
      "type": "select",
      "id": "testimonial_text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.testimonials-with-video.settings.testimonial_text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.testimonials-with-video.settings.testimonial_text_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.testimonials-with-video.settings.testimonial_text_alignment.label"
    },
    {
          "type": "image_picker",
          "id": "quote_icon",
          "label": "t:sections.testimonials-with-video.settings.quote_icon.label",
          "info":"t:sections.testimonials-with-video.settings.quote_icon.info"
    },
     {
      "type": "header",
      "content": "t:sections.testimonials-with-video.settings.Video_banner_settings.content"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.testimonials-with-video.settings.cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.testimonials-with-video.settings.video_url.label",
      "placeholder": "t:sections.testimonials-with-video.settings.video_url.placeholder",
      "info": "t:sections.testimonials-with-video.settings.video_url.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
    "type": "header",
    "content": "t:sections.testimonials-with-video.settings.support_block.content"
    },
    {
      "type":"checkbox",
      "id":"enable_icon_text",
      "label":"t:sections.testimonials-with-video.settings.enable_icon_text.label"
    },
    {
      "type": "image_picker",
      "id": "icon_image",
      "label": "t:sections.testimonials-with-video.settings.icon_image.label"
    },
    {
    "type":"url",
    "id":"icon_link",
     "label": "t:sections.testimonials-with-video.settings.icon_link.label" 
    },
     {
    "type":"text",
    "id":"icon_text",
     "label": "t:sections.testimonials-with-video.settings.icon_text.label" 
    },
    {
      "type": "image_picker",
      "id": "icon_image_2",
      "label": "t:sections.testimonials-with-video.settings.icon_image_2.label"
    },
    {
    "type":"url",
    "id":"icon_link_2",
     "label": "t:sections.testimonials-with-video.settings.icon_link_2.label" 
    },
     {
    "type":"text",
    "id":"icon_text_2",
     "label": "t:sections.testimonials-with-video.settings.icon_text_2.label" 
    },
    {
      "type": "image_picker",
      "id": "icon_image_3",
      "label": "t:sections.testimonials-with-video.settings.icon_image_3.label"
    },
    {
    "type":"url",
    "id":"icon_link_3",
     "label": "t:sections.testimonials-with-video.settings.icon_link_3.label" 
    },
     {
    "type":"text",
    "id":"icon_text_3",
     "label": "t:sections.testimonials-with-video.settings.icon_text_3.label" 
    },
    {
    "type": "header",
    "content": "t:sections.all.custom_class_heading.content"
    },
    {
    "type": "text",
    "id": "custom_class_name",
    "label": "t:sections.all.custom_class_name.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.swiper.swiper_slider_title"
    },
    {
      "type": "range",
      "id": "desktop_column",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "t:sections.all.swiper.desktop_column",
      "default": 1
    },
    {
      "type": "range",
      "id": "tablet_column",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "t:sections.all.swiper.tablet_column",
      "default": 1
    },
    {
      "type": "range",
      "id": "mobile_column",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "t:sections.all.swiper.mobile_column",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "centered_slide",
      "default": false,
      "label": "t:sections.all.swiper.centered_slide"
    },
    {
      "type": "checkbox",
      "id": "swiper_pagination",
      "default": false,
      "label": "t:sections.all.swiper.swiper_pagination"
    },
    {
      "type": "checkbox",
      "id": "swiper_navigation",
      "default": false,
      "label": "t:sections.all.swiper.swiper_navigation"
    },
    {
      "type": "range",
      "id": "auto_play",
      "min": 0,
      "max": 5,
      "step": 1,
      "label": "t:sections.all.swiper.auto_play",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.testimonials-with-video.blocks.text.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials-with-video.blocks.text.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "mask_image",
          "label": "t:sections.testimonials-with-video.blocks.text.settings.mask_image.label"
        },
        {
          "type": "text",
          "id": "author",
          "default": "Column",
          "label": "t:sections.testimonials-with-video.blocks.text.settings.author.label"
        },
        {
          "type": "text",
          "id": "job_title",
          "default": "john",
          "label": "t:sections.testimonials-with-video.blocks.text.settings.job_title.label"
        },
        {
          "type": "richtext",
          "id": "quote",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.testimonials-with-video.blocks.text.settings.quote.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.testimonials-with-video.blocks.text.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.testimonials-with-video.blocks.text.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials-with-video.presets.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
